@charset "UTF-8";
@import "../_helper";


//** 게시판 스킨 **//

$t1_border: 1px solid #dcdee3;
$t2_border: 1px solid #e5e6ec;
$t3_co : #4a4c54; 



//테이블 스타일
%table {    
    width: 100%;
    border-top: 2px solid #555555;
    caption {
        font-size: 0;
    }
    //table 기본 셋팅
    th {
        background: #fbfbfb;
        border-bottom: $t1_border;
        text-align: center;
        font-weight: 500;
    }
    td {
        background: $co_white;
        border-bottom: $t1_border;
        text-align: center;
        &.ta_l {
            padding-left: 10px;
            text-align: left;
        }
        a {
            &:hover {
                color: $co_primary_darken20;
                text-decoration: underline;
            }
        }
        img {
            max-width: 100%;
        }
    }
}


//th,td상하간격 넓은 테이블
table.board_list_t1 { 
    @extend %table;
    th {
        padding: 22px 10px;
    }
    td {
        padding: 18px 10px;
    }
}


//th,td 상하간격 좁은 테이블
table.board_list_t2 { 
    @extend %table;
    th {
        @include font-size(14);
        padding: 7px 8px;
    }
    td {
        @include font-size(14);
        padding: 7px 8px;
    }
}


//학생정보 처럼 2col 테이블
table.board_list_t3 {
    width: 100%;
    border-top: 2px solid $t3_co;
    th {
        padding: 20px;
        background: #f6f6f9;
        text-align: center;
        border-bottom: 1px solid $t3_co;        
    }
    td {
        padding: 20px;
        border-bottom: 1px solid $t3_co;
        text-align: left;
    }
}


//페이징 기본
.pagination {
    margin: 50px auto 0 auto;
    text-align: center;
    .btn_arrow {        
        width: 45px;
        height: 45px;
        background: $co_gray_lighten30;
        color: $co_gray_darken30;
        &.pre {
            display: inline-block;
        }
        &.next {
            display: inline-block;
        }
        @include breakpoint(mobile) {
            width: 35px;
            height: 35px;
        }
    }
    ol {
        display: inline-block;
        vertical-align: top;
        li {
            display: inline-block;
            list-style: none;
            .btn_paging {
                @include font-size(15);
                @include line-height(21);
                display: block;
                width: 45px;
                height: 45px;
                background: $co_gray_lighten30;
                color: $co_gray_darken30;
                @include breakpoint(mobile) {
                    @include font-size(13);
                    @include line-height(17);
                    width: 35px;
                    height: 35px;
                }
                &.current {
                    background: $co_primary;
                    color: $co_white;
                }                
            }
        }
    }
}


//팝업 페이징
.pop_pagination {
    margin: 25px auto;
    text-align: center;
    .btn_arrow {        
        width: 35px;
        height: 35px;
        background: $co_gray_lighten30;
        color: $co_gray_darken30;
        &.pre {
            display: inline-block;
        }
        &.next {
            display: inline-block;
        }
    }
    ol {
        display: inline-block;
        vertical-align: top;
        li {
            display: inline-block;
            @include font-size(14);
            @include line-height(15);
            width: 35px;
            height: 35px;
            background: $co_gray_lighten30;
            color: $co_gray_darken30;
            list-style: none;            
            .btn_paging {
                display: block;
                width: inherit;
                height: inherit;
                &.current {
                    background: $co_primary;
                    color: $co_white;
                }
            }
        }
    }
}



// 텍스트 에디터
div.text_editor {
    position: relative;
    padding:10px 0 0 0;
    > ul {
        @extend %clearfix;
        li {
            float:left;
            width:auto;
            height:30px;
            button {
                width:30px;
            }
            select {
                height:30px;
                padding:0 40px 10px 20px;
                border-radius: 0;
                border:none;
                @include font-size(13);
                background: url('../../../images/common/select_arrow2.png') $co_white no-repeat right 10px top 8px;
            }
            &.right {
                float:right;
                &.image {
                    .uploadWrap {
                        position: absolute;
                        top:-10px;
                        left:0;
                        width:90%;
                    }
                }

            }
        }
    }
    div.uploadWrap {

        @extend %clearfix;
        &.hide {
            display: none;
        }
        .btn_submit {
            float:right;
            width:100px;
        }
        .form {
            float:left;
            width:calc(100% - 130px)
            }
            
        .file-upload-wrapper {

            
            position: relative;
            width: 100%;

            &:after {
                content: attr(data-text);
                @include font-size(14);
                height: 60px;
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                padding: 10px 15px;
                display: block;
                width: calc(100% - 40px);
                pointer-events: none;
                z-index: 20;
                height: 20px;
                line-height: $height - 20px;
                color: #999;
                border-radius: 5px 10px 10px 5px;
                font-weight: 300;
                border:1px solid $co_gray_lighten20;
            }
            
            &:before {
                content: '파일찾기';
                position: absolute;
                top: 0;
                right: 8px;
                display: inline-block;
                height: 40px;
                color:$co_primary;
                background: #fff;
                font-weight: 700;
                z-index: 25;
                @include font-size(15);
                line-height: $height;
                padding: 0 15px;
                text-transform: uppercase;
                pointer-events: none;
                border-radius: 0 5px 5px 0;
                border:1px solid $co_primary;
            }
            
            &:hover {
                &:before {
                    color: darken($co_primary, 10%);
                    border:1px solid darken($co_primary, 10%);
                }
            }
                input {
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                height: 40px;
                margin: 0;
                padding: 0;
                display: block;
                cursor: pointer;
                width: 100%;
            }
        }
    }
}
#textEditor {
    width:100%;
    height:300px;
    padding:20px;
    border:1px solid $co_gray_lighten20;
    background: #fff;
    overflow-y:auto;
    cursor:text;
    text-align:left;
    img {
        max-width:100%;
    }
    >div {
        margin: 5px 0;
        line-height: normal;
    }
}