@charset "UTF-8";
@import "../_helper";


//버튼 스타일

%btn {
    display: inline-block;
    letter-spacing: -0.5px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
	outline: 0;
    border:none;
}



.btnPrimary {
    @extend %btn;
    height:70px;
    color:$co_white;
    background:$co_primary;
    box-shadow: 2px 2px 7px rgba(1,1,1,0.1);
    &.w100 {
        width:100%;
    }
}



a.textLink {
    color:$co_primary;
    font-weight: 800;
}


button.exitBtn {
    position:fixed;
    top:10px;
    left:10px;
    @extend %btn;
}


button.prev {
    position: absolute;
    top:30px;
    left:15px;
    @extend %btn;
}

.btnLine {
    border:1px solid;
    height:60px;
    background:none;
    &.primary {
        color:$co_primary;
        border-color: $co_primary;
    }
    &.col2 {
        float:left;
        width:49%;
        margin-left:2%;
        &:first-child {
            margin:0;
        }
    }
}