@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "NanumSquare", sans-serif;
  font-size: 16.5px;
  font-size: 1.0725rem;
  line-height: 130%;
  height: 100%;
  -webkit-text-size-adjust: none;
  color: #000;
  letter-spacing: -0.5px;
  font-weight: 400;
}
html .normal, body .normal {
  font-weight: 400;
}
html .bold, body .bold {
  font-weight: 700;
}
html .bolder, body .bolder {
  font-weight: 800;
}
html .light, body .light {
  font-weight: 300;
}
@media (max-width: 320px) {
  html, body {
    font-size: 16px;
    font-size: 1.04rem;
  }
}

body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table {
  font: inherit;
  color: inherit;
}

html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {
  padding: 0;
  margin: 0;
}

ol, ul, li {
  list-style: none;
}

em, address {
  font-style: normal;
}

strong {
  font-weight: 600;
  vertical-align: text-top;
}

img, fieldset {
  vertical-align: middle;
  border: 0 none;
}

input, select, textarea {
  vertical-align: middle;
  resize: none;
}

hr {
  display: none;
}

br {
  font-family: "Dotum";
}

.blind {
  width: 0;
  height: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table caption {
  width: 0;
  height: 0;
  visibility: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

a:active, a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

::-moz-selection {
  background: #ffd400;
  color: #fff;
}

::selection {
  background: #ffd400;
  color: #fff;
}

::-moz-selection {
  background: #ffd400;
  color: #fff;
}

::-webkit-selection {
  background: #ffd400;
  color: #fff;
}

.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

button, a {
  cursor: pointer;
}

button.prev, button.exitBtn, .btnPrimary {
  display: inline-block;
  letter-spacing: -0.5px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  outline: 0;
  border: none;
  background: none;
}

.btnPrimary {
  height: 70px;
  color: #fff;
  background: #03c75b;
  -webkit-box-shadow: 2px 2px 7px rgba(1, 1, 1, 0.1);
          box-shadow: 2px 2px 7px rgba(1, 1, 1, 0.1);
}
.btnPrimary.w100 {
  width: 100%;
}

a.textLink {
  color: #03c75b;
  font-weight: 800;
}

button.exitBtn {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

button.prev {
  position: absolute;
  top: 27px;
  left: 0;
  width: 50px;
  height: 50px;
  color: #8d8d8d;
}

.btnLine {
  border: 1px solid;
  height: 60px;
  background: none;
}
.btnLine.primary {
  color: #03c75b;
  border-color: #03c75b;
}
.btnLine.col2 {
  float: left;
  width: 49%;
  margin-left: 2%;
}
.btnLine.col2:first-child {
  margin: 0;
}

input[type=text], input[type=email], input[type=password], input[type=url], input[type=tel], input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 70px;
  padding: 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 2px 1px 10px rgba(1, 1, 1, 0.1);
          box-shadow: 2px 1px 10px rgba(1, 1, 1, 0.1);
  -webkit-border-radius: 0;
}

input[type=password] {
  font-family: Arial, Helvetica, sans-serif;
}

select {
  height: 60px;
  background: none;
  border: none;
  border-bottom: 1px solid #8d8d8d;
}
select.col3 {
  display: block;
  float: left;
  width: 31%;
  margin-left: 3%;
  text-align: center;
}
select.col3:first-child {
  margin: 0;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 2px 1px 10px rgba(1, 1, 1, 0.1);
          box-shadow: 2px 1px 10px rgba(1, 1, 1, 0.1);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  25% {
    -webkit-transform: translateY(3px) translateX(0px);
            transform: translateY(3px) translateX(0px);
  }
  50% {
    -webkit-transform: translateY(6px) translateX(0px);
            transform: translateY(6px) translateX(0px);
  }
  75% {
    -webkit-transform: translateY(3px) translateX(0px);
            transform: translateY(3px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  25% {
    -webkit-transform: translateY(3px) translateX(0px);
            transform: translateY(3px) translateX(0px);
  }
  50% {
    -webkit-transform: translateY(6px) translateX(0px);
            transform: translateY(6px) translateX(0px);
  }
  75% {
    -webkit-transform: translateY(3px) translateX(0px);
            transform: translateY(3px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
}
.move {
  -webkit-animation-name: move;
  animation-name: move;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

body, html {
  background: #f9f9f9;
}

div.guideWrap {
  width: 100%;
  height: 100%;
}
div.guideWrap.bgDark {
  background: #333;
}
div.guideWrap div.navWrap {
  position: fixed;
  left: -200px;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 100;
}
div.guideWrap div.navWrap.on {
  -webkit-animation-name: menuToggle;
          animation-name: menuToggle;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  left: 0;
}
div.guideWrap div.navWrap.off {
  -webkit-animation-name: menuToggle2;
          animation-name: menuToggle2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  left: -200px;
}
div.guideWrap nav.guideNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 20px;
  background: #000;
  color: #fff;
  overflow-y: auto;
}
div.guideWrap nav.guideNav ul.depth1 li {
  margin: 30px 0 0 0;
}
div.guideWrap nav.guideNav ul.depth1 li h2 {
  font-size: 17px;
  font-size: 1.105rem;
  margin: 10px 0;
}
div.guideWrap nav.guideNav ul.depth1 li ul.depth2 li {
  margin: 5px 0;
}
div.guideWrap nav.guideNav button[type=button] {
  background: none;
  border: none;
  color: #999;
}
div.guideWrap nav.guideNav button[type=button]:hover {
  text-decoration: underline;
  color: #fff;
}
div.guideWrap button.toggleMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #000;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  font-size: 1.3rem;
}
div.guideWrap button.toggleMenu.bottom {
  top: auto;
  bottom: 0;
}
div.guideWrap h1 {
  margin: 0 0 15px 0;
  font-size: 25px;
  font-size: 1.625rem;
}
div.guideWrap a {
  color: #777;
  cursor: pointer;
}
div.guideWrap a:hover {
  color: #eee;
}
div.guideWrap div.guideArticleWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 100px;
  overflow-y: auto;
  z-index: 90;
}
@media (max-width: 812px) {
  div.guideWrap div.guideArticleWrap {
    padding: 70px 20px;
  }
}
div.guideWrap div.guideArticleWrap h2 {
  font-size: 35px;
  font-size: 2.275rem;
  margin: 0 0 30px 0;
  font-weight: 800;
}
div.guideWrap div.guideArticleWrap article {
  padding: 70px 0;
}
div.guideWrap div.guideArticleWrap article div.code {
  margin: 10px 0 0 0;
}
div.guideWrap div.guideArticleWrap article h3 {
  font-weight: 800;
  font-size: 18px;
  font-size: 1.17rem;
  margin: 10px 0;
}
div.guideWrap div.guideArticleWrap article ul li {
  margin: 50px 0;
}
div.guideWrap div.guideArticleWrap article ul li ul.sub {
  margin: 0 0 0 20px;
}
div.guideWrap div.guideArticleWrap article ul li ul.sub li {
  margin: 10px 0;
  list-style: circle;
}
div.guideWrap div.guideArticleWrap article ul li ul.sub li strong {
  background: #eee;
}

/* 하이라이트 코드 관련 */
.hljs-ln-numbers {
  text-align: center;
  color: #ccc;
  border-right: 1px solid #999;
  vertical-align: top;
  padding-right: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hljs-ln-code {
  padding-left: 10px;
}

.code code {
  white-space: pre-wrap;
  overflow: auto;
  font-family: "NanumSquare", sans-serif;
}

@-webkit-keyframes menuToggle {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}

@keyframes menuToggle {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes menuToggle2 {
  from {
    left: 0;
  }
  to {
    left: -200px;
  }
}
@keyframes menuToggle2 {
  from {
    left: 0;
  }
  to {
    left: -200px;
  }
}
div.frameWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  background: #fff;
  overflow: hidden;
}
@media all and (min-width: 1000px) {
  div.frameWrap {
    width: 800px;
  }
}
@media (max-width: 812px) {
  div.frameWrap {
    width: 100%;
    height: 100%;
  }
}
div.frameWrap iframe {
  width: 100%;
  height: 100%;
  border: none;
}