@charset "UTF-8";


//color
$co_primary: #00c683;
$co_primary_lighten10: #00d68e;
$co_primary_lighten20: #03e297;
$co_primary_lighten30: #0cf5a7;
$co_primary_darken10: #00bb7c;
$co_primary_darken20: #00af74;
$co_primary_darken30: #009d68;

$co_secondary: #583cf3;
$co_secondary_lighten10: #694efa;
$co_secondary_lighten20: #765efb;
$co_secondary_lighten30: #8771ff;
$co_secondary_lighten40: #ad9eff;
$co_secondary_darken10: #482aea;
$co_secondary_darken20: #3e22d7;
$co_secondary_darken30: #3b20cf;

$co_success: #00c683;
$co_info: #1980ff;
$co_warning: #eb1b21;
$co_disable: #cfd2d9;

$co_txt: #48494d; //기본 텍스트 컬러
$co_white: #fff;
$co_yellow: #ffd920;

$co_blue:#5e95fb;
$co_blue_lighten10: #6c9ffd;
$co_blue_lighten20: #78a7ff;
$co_blue_lighten30: #8bb4fe;
$co_blue_darken10: #518dfe;
$co_blue_darken20: #4787fe;
$co_blue_darken30: #367af8;

$co_gray: #797b8b;
$co_gray_lighten10: #9294a4;
$co_gray_lighten20: #b4b5c2;
$co_gray_lighten30: #f1f2f6;
$co_gray_lighten40: #f9f9f9;
$co_gray_darken10: #6c6e7e;
$co_gray_darken20: #5b5d6b;
$co_gray_darken30: #3c3e4c;




//input
$height: 40px;
$login_height: 50px;