@charset "UTF-8";


//color
$co_primary: #03c75b;
$co_secondary: #583cf3;


$co_success: #00c683;
$co_info: #1980ff;
$co_warning: #eb1b21;
$co_disable: #cfd2d9;

$co_txt: #000; //기본 텍스트 컬러
$co_gray:#8d8d8d;
$co_gray_light:#d2d2d2;
$co_gray_lighter:#ececec;
$co_white: #fff;

$co_bg_gray : #f9f9f9;

$co_yellow: #ffd920;




//input
$height: 40px;
$login_height: 50px;